*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --background-color: #778da9;
    --font-color: #0d1b2a;
    --border-color: #1b263b;
    --fieldset-background: #415a77;
}

body {
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
}

#habitForm {
    align-content: center;
}

#habitFormFieldset {
    max-width: 20%;
    margin: 1rem auto;
    border-radius: 1rem;
}

fieldset {
    font-size: 16px;
    background-color: var(--fieldset-background);
    margin-bottom: .5rem;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .3rem 0;
    border: 2px solid var(--border-color);
    border-radius: 1rem;
}

legend {
    padding: 0 .5rem;
    border-radius: .5rem;
    color: var(--font-color);
    font-size: 20px;
}

.inlineCheckboxes {
    display: inline;
    text-align: center;
}
label { 
    margin-bottom: .5rem;
}

#brushTeeth,
#washFace,
#catchAll,
legend {
    background-color: white;
}

#catchAll label {
    display: block;
}

input[type=checkbox] {
    margin-left: .5rem;
    transform: scale(1.2);
    accent-color: var(--fieldset-background);
}

#brushTeeth,
#washFace {
    display: flex;
    flex-direction: row;
    gap: .2rem;
}

@media screen and (max-width: 1300px) {
    fieldset {
        font-size: 12px;
        width: 65%;
    }
    legend {
        font-size: 16px;
        width: 75%;
    }
    input[type=checkbox] {
        transform: none;
    }
}
